<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>
  .box {
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }

  .bowtie {
    filter: invert(1);
  }

  .footer {
    position: fixed;
    left: -1em;
    bottom: 0;
    width: 100%;
    text-align: right;
  }

  a:link {
    text-decoration: none;
    color: black;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }
</style>


<div class="content" role="main">
  <div class="box">
    <div>
      <h1>
        Vi ses 2023
      </h1>
    </div>
    <div>
      <img class="bowtie" src="../assets/images/bthr.png" width="50px">
    </div>
    <div>
      <app-osa-form></app-osa-form>
    </div>
  </div>

  <div class="footer">
    <a href="mailto:info@mickeochjossan.se">Kontakt</a>
  </div>
</div>
<router-outlet></router-outlet>